.hidden {
    display: none;
}
.topic {
    cursor: pointer;
    user-select: none;
    border: 1px solid #d3d3d3;
    padding: 10px;
    border-radius: 24px;
    margin: 10px;
    transition: all .3s;
}
#topics {
    display:flex; 
}
.topic:hover {
    background-color: #87daff;
    color: #ffffff;
    border-color: #87dafe;
}